
<h1>Classes</h1>
<table>
  <tr>
    <th>Title</th>
    <th>Spaces</th>
    <th colspan="2"></th>
  </tr>
 
  <% @classes.each do |gsa_class| %>
    <tr>
      <td><%= link_to gsa_class.title, gsa_class_path(gsa_class) %></td>
      <td><span>0/</span><%= gsa_class.spaces %></td>
      <td><%= link_to 'Reserve', edit_gsa_class_path(gsa_class) %></td>
    </tr>
  <% end %>
</table>