<p>
  <strong>Title:</strong>
  <%= @class.title %>
</p>
 
<p>
  <strong>Spaces:</strong>
  <%= @class.spaces %>
</p>
<%= link_to 'Back', gsa_classes_path %>
<%= link_to 'Edit', edit_gsa_class_path(@class) %>