// Place all the styles related to the group_lessons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table{
    border-spacing: 0;
    tbody tr{
        transition: .3s ease-in-out;
        &:hover{
            background: #fbfbfb;
        }
    }
    td, th{
        padding: 15px;
        text-align: left;
    }
}